
/* ======================================================== */
/* =============     SMALLER THAN xs      ================= */
/* ======================================================== */

.backlogSearchCont {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.adminOrderPagin {
  display: flex;
  justify-content: center;
}

#adminLayout .adminOrderPagin .btn-toolbar a {
  background-color: #ffffffab;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#adminLayout .adminOrderPagin .btn-toolbar a.active {
  background-color: rgb(10, 88, 202);
}

#adminLayout .adminOrdersOuter {
  padding-top: 10px;
  padding-bottom: 1px;
  min-height: 775px;
}
#adminLayout .adminOrdersOuter h4{
  color: #272727;
  font-size: 30px;
  width: 100%;
  padding: 10px;
  padding-top: 10px;
  background: linear-gradient(to right, transparent, #ffffff38, transparent);
}

#adminLayout .adminOrderPMarkup .wrapLeftTable{
  color:red;
  display:inline-block;
  min-width:8px;
}
#adminLayout .adminOrderPMarkup .wrapLeftClearTable {
  display: inline-block;
  min-width: 8px;
  flex-grow:2;
}
#adminLayout .adminOrderPMarkup .wrapClearTable {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
#adminLayout .adminOrderPMarkup .wrapTable {
  background-color: #ffffffab;
  border-radius:8px;
  padding-bottom:8px;
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  overflow-x: auto;
}
#adminLayout .adminOrderPMarkup table {
  margin-bottom: 1px;
}
#adminLayout .adminOrderPMarkup .table-responsive{
  padding-top: 0px;
  flex-grow:2;
  overflow-x: visible;
}
#adminLayout .adminOrdersTable td {
  padding-top: 6px;
  padding-bottom: 6px;
  white-space: nowrap;
  padding-left: 6px;
  padding-right: 6px;
}

.adminOrdersOuter .responsiveScrollsRight {
  margin-top:18px;
  margin-bottom:3px;
  color: #3d3d3d;
}

#adminLayout tr.backlogCursorRow {
  cursor: pointer;
}

@media (min-width: 370px) {
  /* BEGINING OF INTERMEDIATE SIZE */
}

/* ======================================================== */
/* =============    DEFAULT BREAKPOINT: xs  =============== */
/* ======================================================== */
/* xs */
/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* ================================================= */
/* ========= OTHER BREAKPOINTS BELOW HERE ========== */
/* ================================================= */
/* sm */
/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
}

/* /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/ */
/* ======= Custom Breakpoint - MD-INERMEDIATE ====== */
/* \/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\ */

@media (min-width: 708px) {
}

/* ================================================= */
/* =========            MEDIUM            ========== */
/* ================================================= */

@media (min-width: 768px) {
}

/* ================================================= */
/* =========             LARGE            ========== */
/* ================================================= */

@media (min-width: 992px) {
}
