
.adminCont {
  padding-top: 15px;
  padding-bottom: 12px;
  overflow-x: clip;
  background-repeat: no-repeat;
  /*background-image: url("/bg/warehouse-image1.jpg");*/
  background-size: cover;
  background-position: center;
  max-height: 1500px;
}

.adminCont.adminParallax {
  /* Disabled height so list of products can be as tall as needed */
  max-height: unset;
  /* Center the image */
  background-position: center;
  /* Do not repeat the image */
  background-repeat: no-repeat;
  /* This is the magic! */
  background-attachment: fixed;
  /* Cover the entire container */
  background-size: cover;

  /* Add your background image 
  background-image: url('/bg/warehouse-image1.jpg');*/
}

.adminBgBase {
}

.adminBg1 {
}