
/* ======================================================== */
/* =============     SMALLER THAN xs      ================= */
/* ======================================================== */

.adminUserOrdersLiner{
  border:1px solid gainsboro;
  border-radius:10px;
  margin-bottom:10px;
  padding:10px;
  font-size:10px;
}
.adminUserOrdersLiner.whiteLiner {
  background-color: #ffffffe3;
}
.wrapLiners{
  background-color: #ffffff21;
  padding: 10px;
  border-radius: 15px;
  padding-bottom:1px;
  margin-bottom:10px;
}

#adminLayout .adminParallaxUserOrders h4 {
  margin-top: 13px;

  color: #272727;
  font-size: 30px;
  width: 100%;
  padding: 10px;
  padding-top: 10px;
  background: linear-gradient(to right, transparent, #ffffff38, transparent);
}

.adminParallaxUserOrders {
  background-image: url('/bg/warehouse-image1.jpg');
  
  min-height: 880px;
}

.adminParallaxUserOrders .contNoOrders {
  margin-top:20px;
  display:flex;
  flex-direction:row;
  justify-content:center;
}
.adminParallaxUserOrders .barNoOrders {
  /*background-color:red;*/
  flex-grow:2;
  min-width:10px;
}
.adminParallaxUserOrders .boxNoOrders {
border-radius: 10px;
    width: 300px;
    padding: 20px;
    background-color: #ffffffe3;
    min-height: 120px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.2));
}
.adminParallaxUserOrders .noneAtMoment{
  font-size:20px;
  height:40px;
  margin-top:7px;
  margin-bottom:5px;
}

.adminParallaxUserOrders .adminTitleBar{
  color: #3a3f44;
  font-size: 29px;
  margin-top: 6px;
  padding-top:14px;
}

.adminParallaxUserOrders .whiteBack{
  background-color:#ffffffab;
  background-color:#ffffff3d;
  height:100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.adminParallaxUserOrders .clearBack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.mainSection{
  flex-grow:2;
  padding-top:45px;
  padding-top:60px;
}

.OrderDetail {
  text-align: left;
  margin-bottom: 5px;
  padding-left: 10px;
}

@media (min-width: 370px) {
  /* BEGINING OF INTERMEDIATE SIZE */
  .adminParallaxUserOrders .noneAtMoment {
    font-size: 22px;
  }
}

/* ======================================================== */
/* =============    DEFAULT BREAKPOINT: xs  =============== */
/* ======================================================== */
/* xs */
/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* ================================================= */
/* ========= OTHER BREAKPOINTS BELOW HERE ========== */
/* ================================================= */
/* sm */
/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
  .adminUserOrdersLiner {
    font-size: 12px;
  }
  .adminParallaxUserOrders .noneAtMoment {
    font-size: 22px;
    margin-bottom:15px;
  }
}

/* /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/ */
/* ======= Custom Breakpoint - MD-INERMEDIATE ====== */
/* \/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\ */

@media (min-width: 708px) {
  .adminUserOrdersLiner {
    font-size: 14px;
  }
}

/* ================================================= */
/* =========            MEDIUM            ========== */
/* ================================================= */

@media (min-width: 768px) {
  .adminUserOrdersLiner {
    font-size: 16px;
  }
}

/* ================================================= */
/* =========             LARGE            ========== */
/* ================================================= */

@media (min-width: 992px) {

}
