
/* ======================================================== */
/* =============     SMALLER THAN xs      ================= */
/* ======================================================== */

.AdminOrderDetailRow {
  text-align: left;
  border: 1px solid gainsboro;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #ffffffde;
  background-color: #fffffff2;
}
#adminLayout button.accordion-button {
  background-color: #ffffffad;
}
.myAdminOrdDetailImageRow {
  background-color: transparent !important;
}
.myAdminOrdDetailImageRow.myAdminOrdDetailHead  {
  background-color: transparent !important;
}

#adminOrderPage {
  /*color: saddlebrown !important;*/
  font-size: 9px;
}

.myAdminOrdDetailIspTitle {
  font-size: 9px;
}

.accordion{
  margin-bottom:10px;
}

.collapseDeet {
  text-align: left;
}
.collapseDeet .row {
  margin-bottom: 5px;
}

.AdminOrderDetailRow.AdminOrderDetailHeader .row {
  margin-bottom: 5px;
}

.myAdminOrdDetailTitleHead{
  margin-bottom:0px;
  /*border-bottom:1px solid gainsboro;*/
  padding-bottom:10px;
  padding-left:15px;
}
.myAdminOrdDetailHead {
  font-weight: 700;
  background-color: #f6f6f6 !important;
  border-radius: 0px !important;
  border-bottom: 1px solid gainsboro;
}
.myAdminOrdDetailFoot {
  /*font-weight:500;*/
  padding-top: 10px;
  border-top: 1px solid gainsboro;
}

.grandTotal{
  /*color:orangered;*/
  font-weight:500;
}

#adminOrderPage .myAdminOrdDetailImageRow {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  /*border: 1px solid gainsboro;*/
  background-color: #ffffffd6;
}
  #adminOrderPage .myAdminOrdDetailImageCell b {
    font-weight: 400;
  }
  #adminOrderPage .myAdminOrdDetailImageCell .mgLight {
    font-weight: 400;
    color: #616161;
  }
  #adminOrderPage .myAdminOrdDetailImageCell:first-child {
    padding-left: 25px;
    font-weight: 600;
  }
  #adminOrderPage .myAdminOrdDetailImageCell:last-child {
    /*border: 2px dashed magenta;*/
    padding-left: 0px;
  }



@media (min-width: 370px) {
  /* BEGINING OF INTERMEDIATE SIZE */
  #adminOrderPage {
    /*color: red !important;*/
    font-size: 10px;
  }
  .myAdminOrdDetailIspTitle {
  }
}

/* ======================================================== */
/* =============    DEFAULT BREAKPOINT: xs  =============== */
/* ======================================================== */
/* xs */
/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* ================================================= */
/* ========= OTHER BREAKPOINTS BELOW HERE ========== */
/* ================================================= */
/* sm */
/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
  #adminOrderPage {
    /*color: magenta !important;*/
    font-size: 11px;
  }
  .myAdminOrdDetailIspTitle {
    font-size: 10px;
  }
}

/* /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/ */
/* ======= Custom Breakpoint - MD-INERMEDIATE ====== */
/* \/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\ */

@media (min-width: 708px) {
}

/* ================================================= */
/* =========            MEDIUM            ========== */
/* ================================================= */

@media (min-width: 768px) {
  #adminOrderPage {
    /*color: lime !important;*/
    font-size: 12px;
  }
  .myAdminOrdDetailIspTitle {
    font-size: 11px;
  }
}

/* ================================================= */
/* =========             LARGE            ========== */
/* ================================================= */

@media (min-width: 992px) {
  #adminOrderPage {
    /*color: darkorange !important;*/
    font-size: 14px;
  }
  .myAdminOrdDetailIspTitle {
    font-size: 12px;
  }
}
