
/* ======================================================== */
/* =============     SMALLER THAN xs      ================= */
/* ======================================================== */

.AdminOrderDetailRow {
  text-align:left;
  border:1px solid gainsboro;
  border-radius:10px;
  padding:15px;
  font-size:12px;
}

@media (min-width: 370px) {
  /* BEGINING OF INTERMEDIATE SIZE */
}

/* ======================================================== */
/* =============    DEFAULT BREAKPOINT: xs  =============== */
/* ======================================================== */
/* xs */
/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* ================================================= */
/* ========= OTHER BREAKPOINTS BELOW HERE ========== */
/* ================================================= */
/* sm */
/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
}

/* /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/ */
/* ======= Custom Breakpoint - MD-INERMEDIATE ====== */
/* \/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\ */

@media (min-width: 708px) {
}

/* ================================================= */
/* =========            MEDIUM            ========== */
/* ================================================= */

@media (min-width: 768px) {
}

/* ================================================= */
/* =========             LARGE            ========== */
/* ================================================= */

@media (min-width: 992px) {
}
