
/* ======================================================== */
/* =============     SMALLER THAN xs      ================= */
/* ======================================================== */
/*
    I have defined a custom breakpoint to allow xxs for mg-category-menu-r. For this style, the default is xxs.
    For all other styles the default breakpoint means xs.
*/
.mg-category-menu-r button{
  text-align:left;
}
.mg-category-menu-r {
  /*border: 3px dashed cyan;*/
  width: 100%;
}
@media (min-width: 370px) {
  .mg-category-menu-r {
    /*border: 3px dashed magenta;*/
    display:flex;
    width: 100%;
  }
}

/* ======================================================== */
/* =============    DEFAULT BREAKPOINT: xs  =============== */
/* ======================================================== */
/* xs */
/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

.mg-nav-items{
  /*border:3px dashed magenta;*/
  align-items:flex-start;
  width:100%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

tr:nth-child(even) {
    background: #F2F2F2;
}

tr:nth-child(odd) {
    background: #FFF;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mgNavLinkBtn {
  /* I could not easily use Bootstrap button styling with a React Router NavLink,
    so I have just copied the bootstrap button styling approximately here,
    and applied it to the anchor element used with NavLink.
  */
  /*border: 1px dashed lime;*/
  color:white;
  text-decoration:none;
  padding: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: rgb(25, 135, 84);
  border-color rgb(25, 135, 84);
  border-radius: 6px;
  box-sizing:border-box;
  cursor: pointer;
}
.mgNavLinkBtn:hover {
  /*border: 1px dashed white;*/
  color:white;
  background-color: rgb(21, 115, 71);
}


.inStockProductCanAdd {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 13px;
  margin-bottom: 13px;
  padding: 10px;
}
.inStockProductCanAdd .productDetailsFlex{
  padding-left: 0px;
  padding-right: 0px;
}
.inStockProductCanAdd .productDetailsFlex .productDetails {
  /*border: 2px dashed cornflowerblue;*/
  display:block;
  text-align:left;
  overflow-y:hidden;
  /*width:410px;*/
  overflow-x:hidden;
}
.inStockProductCanAdd .productDetailsFlex .productDetails span{
  font-size:12px;
}
.inStockProductCanAdd .productDetailsFlex button {
  height:35px;
  min-width:100px;
  font-size:13px;
  align-self: flex-end;
}
.flexContAddToCart {
  /*border: 2px dashed darkseagreen;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 6px;
}
.cartContents {
  border: 1px solid red;
  border-radius: 5px;
}
.inCartItemRow{
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  padding-right: 0px;
}
.inCartItemRow .col-12{
  display:flex;
  justify-content:center;
}
.inCartItemRow .innerRow{
  border: 1px dashed lightgrey;
  /*border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  padding-right: 0px;*/

  max-width:450px;
}
.inCartItemText {
  text-align: left;
}
.inCartItemText p{
  font-size:13px;
}
.inCartItemRemove{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.inCartItemRow button{
  border: 3px dashed red;
  float:right;
  width: 93px;
}

/* ================================================= */
/* ========= OTHER BREAKPOINTS BELOW HERE ========== */
/* ================================================= */
/* sm */
/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
  .mg-nav-items {
    /*border: 3px dashed purple;*/
    align-items: center;
  }
  .mg-category-menu-r {
    /*border: 3px dashed purple;*/
    width: 100%;
  }
}