
/* ======================================================== */
/* =============     SMALLER THAN xs      ================= */
/* ======================================================== */
/*
    I have defined a custom breakpoint to allow xxs for mg-category-menu-r. For this style, the default is xxs.
    For all other styles the default breakpoint means xs.
*/
.mg-category-menu-r button{
  text-align:left;
}
.mg-category-menu-r {
  border: 3px dashed cyan;
  width: 100%;
}
@media (min-width: 370px) {
  .mg-category-menu-r {
    border: 3px dashed magenta;
    display:flex;
    width: 100%;
  }
}

/* ======================================================== */
/* =============    DEFAULT BREAKPOINT: xs  =============== */
/* ======================================================== */
/* xs */
/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

.mg-nav-items{
  border:3px dashed magenta;
  align-items:flex-start;
  width:100%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

tr:nth-child(even) {
    background: #F2F2F2;
}

tr:nth-child(odd) {
    background: #FFF;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}



.inStockProductCanAdd {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-bottom: 10px;
}
.inStockProductCanAdd .productDetailsFlex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.inStockProductCanAdd .productDetailsFlex .productDetails {
  display:block;
  text-align:left;
  overflow-y:hidden;
  width:410px;
  overflow-x:hidden;
}
.inStockProductCanAdd .productDetailsFlex .productDetails span{
  font-size:12px;
}
.inStockProductCanAdd .productDetailsFlex button {
  height:35px;
  min-width:100px;
  font-size:13px;
  align-self: flex-end;
}



/* ================================================= */
/* ========= OTHER BREAKPOINTS BELOW HERE ========== */
/* ================================================= */
/* sm */
/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
  .mg-nav-items {
    border: 3px dashed purple;
    align-items: center;
  }
  .mg-category-menu-r {
    border: 3px dashed purple;
    width: 100%;
  }
}