
/* ======================================================== */
/* =============     SMALLER THAN xs      ================= */
/* ======================================================== */

.checkoutLines .shipHeading {
  width: 100%;
  padding-left: 5px;
  margin-top: 25px;
  font-size: 14px;
  padding-bottom: 13px;
  text-align: center;
}

.checkoutLines input::placeholder {
  color: #d0d0d0;
}

.checkoutLines .error {
  color: #095123;
  font-size: 11px;
  text-align: right;
  padding-right: 10px;
  position: relative;
  top: -4px;
  min-width: 174px;
}

.checkoutLines {
  padding-left: 17px;
  padding-right: 17px;
  border-radius: 10px;
  background-image: linear-gradient(270deg, #ffffffbd, #ffffff00);
}

.checkoutSubmitBtnGroup .btn {
  font-size: 14px;
}

@media (min-width: 370px) {
  /* BEGINING OF INTERMEDIATE SIZE */
}

/* ======================================================== */
/* =============    DEFAULT BREAKPOINT: xs  =============== */
/* ======================================================== */
/* xs */
/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* ================================================= */
/* ========= OTHER BREAKPOINTS BELOW HERE ========== */
/* ================================================= */
/* sm */
/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
  .checkoutSubmitBtnGroup .btn {
    font-size: 18px;
  }
}

/* /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/ */
/* ======= Custom Breakpoint - MD-INERMEDIATE ====== */
/* \/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\ */

@media (min-width: 708px) {
}

/* ================================================= */
/* =========            MEDIUM            ========== */
/* ================================================= */

@media (min-width: 768px) {
}

/* ================================================= */
/* =========             LARGE            ========== */
/* ================================================= */

@media (min-width: 992px) {
}
