
/* ======================================================== */
/* =============     SMALLER THAN xs      ================= */
/* ======================================================== */

#myOrdDetailPage {
  /*color: coral !important;*/
  font-size: 11px;
}
.myOrdDetailImageHead {
  /*color: darkmagenta;*/
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid gainsboro;
  background-color: #ffffffd6;
  padding-bottom: 5px;
  margin-bottom: 12px;
}
#myOrdDetailPage .myOrdDetailImageHead tr,
#myOrdDetailPage .myOrdDetailImageHead td {
  background-color: transparent !important;
}
#myOrdDetailPage .myOrdDetailImageHead td {
  padding-top: 5px;
}
#myOrdDetailPage .myOrdDetailImageHead tr:first-child td {
  padding-top: 10px;
  /*border:3px solid green;*/
}

#myOrdDetailPage .myOrdDetailImageBody {
  padding-top:10px;
  border-radius: 10px;
  border: 1px solid gainsboro;
  background-color: #ffffffd6;
}

#myOrdDetailPage .myOrdDetailImageRow {
  /*border: 2px dashed blue;*/
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 10px;
}
#myOrdDetailPage .myOrdDetailImageCell b {
  font-weight: 600;
}
#myOrdDetailPage .myOrdDetailImageCell .mgLight {
  font-weight: 400;
  color: #616161;
}
#myOrdDetailPage .myOrdDetailImageCell:first-child {
  /*border: 2px dashed red;*/
  padding-left: 25px;
  font-weight: 600;
}
#myOrdDetailPage .myOrdDetailImageCell:last-child {
  /*border: 2px dashed magenta;*/
  padding-left: 0px;
}

@media (min-width: 370px) {
  /* BEGINING OF INTERMEDIATE SIZE */
  
  #myOrdDetailPage {
    /*color: red !important;*/
    font-size: 12px;
  }
}

/* ======================================================== */
/* =============    DEFAULT BREAKPOINT: xs  =============== */
/* ======================================================== */
/* xs */
/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* ================================================= */
/* ========= OTHER BREAKPOINTS BELOW HERE ========== */
/* ================================================= */
/* sm */
/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
  
  #myOrdDetailPage {
    /*color: magenta !important;*/
    font-size: 14px;
  }
}

/* /\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/ */
/* ======= Custom Breakpoint - MD-INERMEDIATE ====== */
/* \/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\ */

@media (min-width: 708px) {
}

/* ================================================= */
/* =========            MEDIUM            ========== */
/* ================================================= */

@media (min-width: 768px) {
  #myOrdDetailPage {
    /*color: lime !important;*/
    font-size: 16px;
  }
}

/* ================================================= */
/* =========             LARGE            ========== */
/* ================================================= */

@media (min-width: 992px) {
}